.titulo{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 10%;
}

.menu{
    height: 4%;
    background: #50B748;
    border-radius: 1em  ;
    margin: 1em;
    text-align: center;
    font-size: xx-large;
    }