.titulo{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu{
    height: 3%;
    background: #F0B429;
    border-radius: 1em  ;
    margin: 1em;
    text-align: center;
}