.titulo{
    color: #F47920;
    height: 4%;
    background:#005883;
    margin: 1em;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}

.menu{
    height: 4%;
    background: #50B748;
    border-radius: 1em  ;
    margin: 1em;
    text-align: center;
    font-size: xx-large;
    }

.titulo2{
    text-align: center;
    height: 5%;
    width: 25%;
    background:#F0B429;
    border-radius: 1em  ;
    text-align: center;
}
.body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.tabla{
    width: 80;
    margin: 60;
}